@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-list:hover li {
  opacity: 0.5;
}

.animated-list:hover li:hover {
  opacity: 1;
}

.animated-list:hover li:hover .svg-animation {
  opacity: 1;
  transform: translate(5px, -5px);
} 

.fade-enter {
  transform: translateY(-10px);
  opacity: 0;
}
.fade-exit {
  transform: translateY(0);
  opacity: 1;
}
.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
}
.fade-exit-active {
  transform: translateY(-10px);
  opacity: 0;
}
.fade-enter-active, .fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}

.animate-in {
  opacity: 0;
  animation: animate-in 300ms ease-in-out forwards;
  animation-delay: calc(var(--index) * 130ms);
}

@keyframes animate-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}